{"is_source_file": true, "file_id": 1, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "4f9463773f6db9956958f18e751677b8", "format-version": 4, "code-base-name": "default", "filename": "fruit_ninja_frontend_workspace/fruit_ninja_frontend/ios/Flutter/Generated.xcconfig", "knowledge_revision": 2}