{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 17, "knowledge_revision": 153, "git_revision": "", "hash": "f2109eeb5ecde70a8d29d1a89ab8d6fb", "format-version": 4, "code-base-name": "default", "filename": "fruit_ninja_frontend_workspace/fruit_ninja_frontend/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"153": ""}]}